.activeSlide {
  border: 2px solid #e74362;
}

.sliderPanel .activeSlide {
  filter: none;
}

.sliderPanel img {
  filter: grayscale(100%);
  border-radius: 5px;
}

.wrapper {
  position: relative;
}

.arrowButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d933;
  width: 70px;
  height: 70px;
  position: absolute;
  border: 3px solid #e74362;
  border-radius: 50%;
  z-index: 4;
}
.left {
  left: 2%;
  top: 50%;
}
.right {
  top: 50%;
  right: 2%;
  transform: scaleX(-1);
}
